<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718038939776-vnkd968ejun9l6ia69mdkv6s5efcievr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718038939776-vnkd968ejun9l6ia69mdkv6s5efcievr</string>
	<key>API_KEY</key>
	<string>AIzaSyBOZUtohz0PmYJgtr0RauD20aLYsSFkVqA</string>
	<key>GCM_SENDER_ID</key>
	<string>718038939776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eshitakalsi.KitchenStories</string>
	<key>PROJECT_ID</key>
	<string>kitchenstories-4854a</string>
	<key>STORAGE_BUCKET</key>
	<string>kitchenstories-4854a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718038939776:ios:f69e377563902a2e4e4e65</string>
	<key>DATABASE_URL</key>
	<string>https://kitchenstories-4854a.firebaseio.com</string>
</dict>
</plist>